.text-editor .ql-editor {
    min-height: 8rem;
    height: auto;
}
.text-editor .ql-toolbar {
    border-radius: 0.75rem 0.75rem 0 0;
}
.text-editor .ql-container {
    border-radius: 0 0 0.75rem 0.75rem;
}